<template>
  <require from="../resources/elements/total-points"></require>
  <require from="../resources/elements/total-donated"></require>
  <require from="../resources/elements/total-commented"></require>

  <div class="ui stackable grid">
    <div class="seven wide column">
      <total-points></total-points>
  </div>
    <div class="two wide column">
      <total-donated></total-donated>
    </div>
    <div class="seven wide column">
      <total-commented></total-commented>
    </div>
  </div>
</template>
